body {
  font-family: 'Poppins', sans-serif;
}

.logo-section-forget {
    display: flex;
    align-items: center;
    gap: 0px;
  }
  
  .logo-forget {
    height: 40px !important;
    margin-left: -5px;
     margin-top: -253px;
    
  }
  
  .title-forget {
    font-size: 1.4rem;
    font-weight: bold;
    color: #21647D;
    margin-left: 10px;
    margin-top: -240px;

  }
  
/* تنسيق الحاوية الرئيسية */
.forget-password-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #fff; /* خلفية بيضاء */
  overflow: hidden;
}

/* القسم الأيسر (النصوص والأزرار) */
.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #fff;
  position: relative;
}



/* شعار MediCare مع الأيقونة */
.brand {
  position: absolute; /* جعل الشعار ثابتًا في الأعلى */
  top: 1%;
  left: 2%;
  font-size: 20px;
  font-weight: bold;
  color: #217C99;
  display: flex;
  align-items: center;
  gap: 1px; /* مسافة بين النص والأيقونة */
  z-index: 10;
 
}



/* النصوص داخل القسم الأيسر */
.left-section h2 {
  font-size: 28px;
  color: #217C99;
  margin-bottom: 20px;
}

.left-section p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

/* حقل الإدخال */
.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding: 15px;
  border: none !important;
  border-bottom: 2px solid #6abbd9 !important;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  color: #333;
  transition: border-color 0.3s ease;
  text-align: left;
}

.input-container input:focus {
  border-color: #217C99;
}

.input-container .input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #6abbd9;
}

/* زر الإرسال */
.left-section button {
  width: 50%;
  padding: 15px;
  font-size: 18px;
  background: linear-gradient(to left, #3CB6E3, #21647D) !important;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 140px; /* أو القيمة اللي تفضلينها */
}

.left-section button:hover {
  background-color: #5aa9c8;
}

/* رابط تسجيل الدخول */
.left-section .link {
  margin-top: 20px;
  font-size: 14px;
  text-align: left;
}

.left-section .link a {
  color: #217C99;
  text-decoration: none;
  font-weight: bold;
}

.left-section .link a:hover {
  text-decoration: underline;
}

/* القسم الأيمن (الصورة) */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff /* خلفية خفيفة */
}

.right-section img {
  max-width: 80%;
  height: auto;
}
